config/*
!config/swaylock/
!config/swaync/
!config/btop/
!config/cava/
!config/niri/
!config/rofi/
!config/zshrc/
!config/kitty/
!config/ghostty/
!config/fastfetch/
!config/starship/
!config/yazi/
!config/nvim
